# PhpTemplating Acceptance Test Report

## Security (Phpolar\PhpTemplating\Security)
- [x] Shall mitigate cross-site scripting

## Memory Usage (Phpolar\PhpTemplating\MemoryUsage)
- [x] Memory usage shall be below 16000 bytes
- [x] Memory usage shall be below 16000 bytes

## Project Size (Phpolar\PhpTemplating\ProjectSize)
- [x] Source code total size shall be below 5600 bytes

## Templating (Phpolar\PhpTemplating\Templating)
- [x] Shall support using the public properties of an object as variables in a template with data set #2
- [x] Shall support using the public properties of an object as variables in a template with data set #0
- [x] Shall support using the public properties of an object as variables in a template with data set #1
